<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Platformer</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1080" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>  
  
  <scene>
    <Music1 source="audio/music/Music1.wav"/>
  </scene>
  
  <player>
    <gravity value="0.01f"/>
    <dash_acceleration value="0.2f"/>
    <position x="100" y="300"/>
    <jump_force value="-1.5f"/>
    <run_speed x="1" y="0"/>
    <dash_speed x="8" y="0"/> 
    <is_dashing value="false"/>
    <is_jumping value="false"/>
    <is_grounded value="false"/>
    <is_dead value="false"/>
    <jump_SFX source="audio/fx/Jump.wav"/>
    <dash_SFX source="audio/fx/Dash.wav"/>
    <run_SFX source="audio/fx/Walk.wav"/>
    <spritesheet source="textures/Player_Spritesheet.png"/>
  </player>

</config>