<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Platformer</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="falseg"/>
  </renderer>

  <fonts>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="24"/>
  </fonts>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>
    
  <window>
    <resolution width="1024" height="736" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

<scene>
    <Music1 source="audio/music/Music1.wav"/>
  </scene>

  <player>
    <gravity value="28f"/>
    <dash_acceleration value="1.1f"/>
    <position x="100" y="0"/>
    <initial_position x="100" y="0"/>
    <jump_force value="-13f"/>
    <run_speed x="200" y="0"/>
    <max_speed x="15" y="7"/>
    <is_dashing value="false"/>
    <is_jumping value="false"/>
    <is_grounded value="false"/>
    <is_dead value="false"/>
    <jump_SFX source="audio/fx/Jump.wav"/>
    <dash_SFX source="audio/fx/Dash.wav"/>
    <run_SFX source="audio/fx/Walk.wav"/>
    <spritesheet source="textures/Player_Spritesheet.png"/>
  </player>


</config>